.container {
  margin: 40px;
}
h2 {
  font-size: 24px;
}
header {
  display: flex;
  gap: 40px;
  align-items: center;
}
.calculator {
  width: 50px;
  height: 50px;
  color: orange;
}
.buttons-container {
  display: flex;
}
main {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.buttons-container button,
p {
  width: 150px;
  height: 150px;
  display: flex;
  font-size: 45px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
}
.buttons-container p {
  background-color: orange;
  border-radius: 10px;
}

.reset-button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 40px;
  background-color: orange;
  border: none;
  color: white;
}
